table {
    color: rgb(0, 0, 0);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 10px;
    border: 1px solid #65ff8b;
    text-align: left;
    padding: 20px;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: aliceblue;
}

.group {
    background-color: rgb(56, 56, 56);
}

#ProfileText{
    color: chartreuse;
    font-size: 14;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 1.34;
    font-style: italic;
    background-color: rgb(56, 56, 56);
}

#AquaLink{
    color: aqua;
}

a{
    color: red;
    text-decoration: overline;
    font-style:italic;
}

.mainTextH1{
    font-size: large;
    color: aliceblue;
    font-style: normal;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#listText{
    color: white!important;
}

#NumList{
    font-size: 16;
    font-family: 'Courier New', Courier, monospace;
    color: cadetblue;
    font-style: normal;        
}
ol{
    list-style-type: lower-latin;
}

#MarkList{
    font-size: 16;
    font-family: 'Courier New', Courier, monospace;
    color: #80db97;
    font-style: normal;
    line-height: 1.5;
    list-style-type: square;
}

dl{
    font-size: 14;
    font-family: 'Courier New', Courier, monospace;
    color: #80db97;
    font-style: italic;
    line-height: 2;
}

li p{
    color: #7595c4;
    text-decoration: underline;
}

th p{
    color: beige;
    text-decoration: overline underline;
}

li p{
    font-size: 16;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: #7595c4;
}

.newMusicH2{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: #db80b5;
}

h2 > b {
    color: #c47575;
}

#d1 {
    color: #c47575;
}

.d2{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal!important;
    color: rgb(255, 114, 114);
}

em+em{
    color: #db80b5;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#top_ch_h1{
    text-decoration: none;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
    font: 400;
    color:rgb(233, 233, 233);
}

.top_ch_h2 {
    text-decoration: none;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    font: 400;
    color: rgb(233, 233, 233);
}

.button_lxst {
    width: 33%;
    flex: 1;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
}
.button_lxst button {    
    text-align: center;
    padding: 10px 20px;
    display: inline;
    width: 80%;
    font-size: 15px;
    background-color: rgb(61, 108, 197);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#buttonDialogue, #buttonInfo, #buttonRowCheck, #buttonColorChange, 
#buttonLocationChange, #buttonGetQuery, #buttonOuterInner, 
#buttonData, #buttonAddPost, #buttonCreate, #buttonRemove, 
#buttonAdd, #buttonMouseClick, #buttonMouseClick2{
    text-align: center;
    padding: 10px 20px;
    display: inline;
    width: 20%;
    font-size: 15px;
    background-color: rgb(197, 70, 61);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.button_lxst button:hover {
    background-color: #223c8f;
}

.authors {
    width: 100%;
    display: flex;
}

.button_lxst {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_lxst img {
    max-width: 100%;
}

.button_lxst button {
    width: 100%;
}

.button_lxst:first-child img{
    border-radius: 5px;
}

#second_place.button_lxst img {
    border-radius: 5px;
}

#third_place.button_lxst img {
    border-radius: 5px;
}

.positioned-block{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -1;    
}

#first_tag.positioned-block{
    position: absolute;
    left: 30%;
    bottom: -152px;
    color: #ffffff13;    
}
#second_tag.positioned-block {
    position: absolute;
    left: -10%;
    bottom:-40px;
    color: #ffffff13;
}
#third_tag.positioned-block {
    position: absolute;
    left: 70%;
    bottom: 70px;
    color: #ffffff13;
}

.float-block {
    float: left;
    color: #fff;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 230px;
    background-color: #70707038;
    margin-left: 20px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.float-block a:link{
    color: aliceblue;
    font-style: normal;
    text-decoration: none;
}

.float-block a:visited{
    color: rgb(109, 109, 109);
}

.float-block a:hover {
    color: #00c3ff;
}

.float-block a:active {
    color: #6f00ff;
}

.float-block::after{
    content: "by @flysoeasy";
}

.float-block::before{
    content: "що відбулось?";
}

.music-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.music-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}


.highlighted{
    color: white;
}

.menu-btn{
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18;
    border-radius: 24px;
    width: 150px;
    height: 40px;
    border-color: #00c3ff;
    color: white;
    background: transparent;
}

.highlight {
    border-radius: 5px;
    box-shadow: 0 0 50px 0 #ffffff7a;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pazl{
    padding: 5px;
    float: left;
    cursor: pointer;
}